* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:sans-serif ;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.feature-img {
    width: 90%;
    margin-bottom: 10px;
}

.logo img {
    max-width: 70px;
    height: auto;
}

.images {
    width: 1055px;
    height: 450px;
}

.product-images {
    width: 100%;
    height: 280px;
}

.head-container {
    max-width: 1300px;
    margin: 0 auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    height: 70px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    margin-bottom: 0;
}


.nav-bar a {
    text-decoration: none;
    font-size: 19px;
    padding: 10px 20px;
    font-weight: 400px;
    transition: all .42s ease;
    color: #2c2c2c;
}

.nav-bar a:hover {
    color: orange;
}

.nav-icon {
    display: flex;
}

.nav-icon i{
    padding-top: 10px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 23px;
    transition: all .42s ease;
    color: #2c2c2c;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: red;
}

.border-top {
    position: relative;
    background-color: red;
    height: 75px;
}

.wrapper{
    max-width: 450px;
    margin: auto;
    margin: 14px 0px 0px 700px;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px; 
    position: relative; 

}
  .search-input input{
    
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    width: 55px;
    text-align: center;
    line-height: 47px;
    font-size: 16px;
    color: #644bff;
    cursor: pointer;
  }

.box-menu {
    position: absolute;
    margin-top: 10px;
    width: 219px;
    height: 50px;
    padding: 0.75em 1em;
    background-color: green;
    border-radius: 5px 5px 0px 0px;
}

.main-text {
    justify-content: space-between;
    display: flex;
}

.main-text i{
    margin-left: 20px;
}

.bx-chevron-right {
    margin-left: 100px;
    justify-content: right;
}

.cover{
    display: flex;
    width: 100%;
}

.none {
    display: none;
}

.menu-link {
    position: absolute;
    background-color: aliceblue;
    top: 145px;
    padding-left: 1em ;
    width: 219px;
    justify-content: space-between;
}
.menu-link span {
    padding-left: 50px;
    width:auto;
    margin: 0 auto;
}
.menu-link a {
    text-decoration: none;
    display: flex;
    width: 200px;
    text-align: center;
    color: black;
}
.menu-link li{
    align-items: center;
    display: flex;   
    width: 219px;
    height: 75px;
    border-bottom: 2px solid #0a0505;
    position: relative;
    right:16px;
    padding-left:16px;
}