* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
<<<<<<< Updated upstream:assets/css/main.css
    font-family:sans-serif ;
=======
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> Stashed changes:style.css
    list-style: none;

}


body {
    overflow-x: hidden;
}

<<<<<<< Updated upstream:assets/css/main.css
.del {
=======
del {
>>>>>>> Stashed changes:style.css
    text-decoration: line-through;
}

.feature-img {
    width: 90%;
    margin-bottom: 10px;
}

.logo img {
    max-width: 70px;
    height: auto;
}

.images {
<<<<<<< Updated upstream:assets/css/main.css

    width: 1300px;
    height: 450px;
=======
    width: 1200px;
    height: 450px;
    right: 145px;
    position:absolute;
>>>>>>> Stashed changes:style.css
}

.product-images {
    width: 90%;
    height: 280px;
}

.footer-img {
    width: 100%;
}

.head-container {
<<<<<<< Updated upstream:assets/css/main.css
    width: 84%;
=======
    max-width: 85%;
>>>>>>> Stashed changes:style.css
    margin: 0 auto;
}

.border-container {
<<<<<<< Updated upstream:assets/css/main.css
    width: 84%;
    margin: 0 auto;
}

.menu-container {
    width: 84%;
    margin: 0 auto;
}

.footer-container {
    width: 84%;
=======
    max-width: 85%;
    margin: 0 auto;
}

.foot-container {
    max-width: 85%;
>>>>>>> Stashed changes:style.css
    margin: 0 auto;
}

.header{
    height: 70px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
<<<<<<< Updated upstream:assets/css/main.css
    margin-bottom: 0;
=======
    padding-left: 0px;
    margin-bottom: 0px;
>>>>>>> Stashed changes:style.css
}


.nav-bar a {
    text-decoration: none;
    font-size: 19px;
    padding: 10px 20px;
    font-weight: 400px;
    transition: all .42s ease;
    color: #2c2c2c;
    text-decoration: none;
}

.nav-bar a:hover {
    color: orange;
    text-decoration: none;
}

.nav-icon {
    display: flex;
}

.nav-icon i{
    padding-top: 10px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 23px;
    transition: all .42s ease;
    color: #2c2c2c;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: red;
}

.border-top {
<<<<<<< Updated upstream:assets/css/main.css
    position: relative;
    background-color: red;
    height: 80px;
=======
    margin-top: 69px;
    background-color: red;
>>>>>>> Stashed changes:style.css
}

.wrapper{
    max-width: 450px;
    margin: auto;
    margin: 14px 0px 0px 815px;
    padding-top: 2px;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px; 
    position: relative; 

}
  .search-input input{
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    width: 55px;
    text-align: center;
    line-height: 47px;
    font-size: 16px;
    color: #644bff;
    cursor: pointer;
  }

.box-menu {
    position: absolute;
    margin-top: 15px;
    width: 219px;
<<<<<<< Updated upstream:assets/css/main.css
    height: 50px;
    padding: 0.75em 1em;
    background-color: green;
    border-radius: 5px 5px 0px 0px;
=======
    padding: 0.75em 1em;
    background-color: green;
>>>>>>> Stashed changes:style.css
}

.main-text {
    justify-content: space-between;
    display: flex;
}

.main-text i{
    margin-left: 20px;
}

.bx-chevron-right {
    padding-left: 50px;
}

.cover{
    display: flex;
    width: 100%;
}

.menu-link {
    background-color: aliceblue;
    top: 0;
    padding-left: 1em ;
    width: 219px;
}

.menu-link span {
    width:auto;
    margin: 0 auto;
}

.menu-link a {
    text-decoration: none;
    display: flex;
    width: 200px;
    text-align: center;
<<<<<<< Updated upstream:assets/css/main.css
=======
    text-decoration: none;
>>>>>>> Stashed changes:style.css
    color: black;
}

.menu-link li{
    align-items: center;
    display: flex;
    width: 219px;
    height: 75px;
    border-bottom: 2px solid #0a0505;
    position: relative;
    right:16px;
    padding-left:16px;
}

.feature{ 
    width: 100%; 
}

.ft-cover {
    width: 84%;
    display: flex;
    justify-content: space-between;
<<<<<<< Updated upstream:assets/css/main.css
    margin: 0 auto;
=======
    margin-left: 125px;
>>>>>>> Stashed changes:style.css
    padding-top: 40px;
}

.ft-box {
    width: 80%;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #cce7d0;
    border-radius: 5%;
    width: 150px;
}

.ft-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

.ft-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

.ft-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

.ft-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

.ft-box:nth-child(5) h6 {
    background-color: #fff2e5;
}

<<<<<<< Updated upstream:assets/css/main.css
=======








>>>>>>> Stashed changes:style.css
.product-cover {
    width: 100%;
    padding-top: 40px;
}

.products-slider{
    height: 555px;
<<<<<<< Updated upstream:assets/css/main.css
    width: 84%;
=======
    width: 85%;
>>>>>>> Stashed changes:style.css
    margin: 0 auto;
    background-color: #f5f5f7;
    padding: 0px 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

.product-title {
    text-align: center;
    padding-bottom: 15px;
    color: black;
}

.product-title span {
    margin-top: 35px;
    background: orange;
    display: inline-block;
    padding: .10rem 10rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0% );
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 390px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
}

.product-info {
    width: 100%;
    margin-top: 3px;
}

.product-name span {
    padding-top: 200px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    width: 27%;
    background: orange;
    padding-top: 3px;
    height: 28px;
}

.product-name {
    display: flex;
    color: #29292c;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 9px;
    height: 20%;
}

.product-box img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.product-box a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.de-font {
    height: 80px;
    font-size: 14px;
    padding: 10px 10px 1px 10px;
}

.product-box .price {
    padding: 0px 10px ;
    display: flex;
    justify-content: space-between;
}

.lSPager{
    display:none;
}

.lSAction > a {
    background-color:#00000033;
    width:50px;
    height:50px;
    border-radius:50%;
    opacity:5;
    background-image:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lSAction > a::after{
    position:absoult;
    content:'';
    margin:auto;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

.lSAction > .lSPrev::after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.lSAction > .lSNext::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

<<<<<<< Updated upstream:assets/css/main.css


footer {
	background: WhiteSmoke;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}

.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

=======
.block-contact {
    width: 25%;
    height: 90%;
    flex-direction: column;
}

.footer-box {
    background-color: #088178;
    margin-top: 40px;
    height: 400px;
}

.footer-cover {
    padding-top: 50px;
    height: 400px;
    display: flex;
}

.hotline p{
    font-size: 36px;
}

.time-working{
    padding-top: 5px;
}

.email {
    padding-top: 8px;
}

.block-policy p {
    margin-top: 10px;
}




footer {
	background: #D3D3D3; 
	padding: 40px 0;
}

.single-box p {
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
}
.single-box .card-area i {
	font-size: 20px;
	margin-right: 10px;
}
>>>>>>> Stashed changes:style.css
.single-box ul {
	list-style: none;
	padding: 0;
}
<<<<<<< Updated upstream:assets/css/main.css

.single-box span {
    font-size: 36px;
}

.single-box ul li a {
	text-decoration: none;
	color: blue;
=======
.single-box ul li a {
    font-family: sans-serif;
	text-decoration: none;
>>>>>>> Stashed changes:style.css
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
<<<<<<< Updated upstream:assets/css/main.css
	color: blue;
	font-size: 19px;
	font-weight: 800;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
=======
	font-size: 20px;
	font-weight: 700;
}

.single-box1 h2 {
    margin-bottom: 7px;
    text-align: center;
}

#basic-addon2 {
	background: #fe1e4f;
>>>>>>> Stashed changes:style.css
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}

<<<<<<< Updated upstream:assets/css/main.css
.footer-img {
    align-items: center;
    width: 100%;
}
=======

>>>>>>> Stashed changes:style.css
