* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:sans-serif ;
    list-style: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.feature-img {
    width: 90%;
    margin-bottom: 10px;
}

.logo img {
    max-width: 70px;
    height: auto;
}

.images {
    width: 1055px;
    height: 450px;
}

.product-images {
    width: 100%;
    height: 280px;
}

.head-container {
    max-width: 1300px;
    margin: 0 auto;
}

.menu-container {
    max-width: 1300px;
    margin: 0 auto;
}

.product-container {
    max-width: 1300px;
    margin: 0 auto;
}

.header{
    height: 70px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    margin-bottom: 0;
}


.nav-bar a {
    text-decoration: none;
    font-size: 19px;
    padding: 10px 20px;
    font-weight: 400px;
    transition: all .42s ease;
    color: #2c2c2c;
}

.nav-bar a:hover {
    color: orange;
}

.nav-icon {
    display: flex;
}

.nav-icon i{
    padding-top: 10px;
    margin-right: 20px;
    font-weight: 400;
    font-size: 23px;
    transition: all .42s ease;
    color: #2c2c2c;
}

.nav-icon i:hover {
    transform: scale(1.1);
    color: red;
}

.border-top {
    position: relative;
    background-color: red;
    height: 75px;
}

.wrapper{
    max-width: 450px;
    margin: auto;
    margin: 14px 0px 0px 700px;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px; 
    position: relative; 

}
  .search-input input{
    
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 16px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 45px;
    width: 55px;
    text-align: center;
    line-height: 47px;
    font-size: 16px;
    color: #644bff;
    cursor: pointer;
  }

.box-menu {
    position: absolute;
    margin-top: 10px;
    width: 219px;
    height: 50px;
    padding: 0.75em 1em;
    background-color: green;
    border-radius: 5px 5px 0px 0px;
}

.main-text {
    justify-content: space-between;
    display: flex;
}

.main-text i{
    margin-left: 20px;
}

.bx-chevron-right {
    margin-left: 100px;
    justify-content: right;
}

.cover{
    display: flex;
    width: 100%;
}

.none {
    display: none;
}

.menu-link {
    position: absolute;
    background-color: aliceblue;
    top: 145px;
    padding-left: 1em ;
    width: 219px;
    justify-content: space-between;
}
.menu-link span {
    padding-left: 50px;
    width:auto;
    margin: 0 auto;
}
.menu-link a {
    text-decoration: none;
    display: flex;
    width: 200px;
    text-align: center;
    color: black;
}
.menu-link li{
    align-items: center;
    display: flex;   
    width: 219px;
    height: 75px;
    border-bottom: 2px solid #0a0505;
    position: relative;
    right:16px;
    padding-left:16px;
}

.product-container {
    border: 10px;
    background-color: gray;
}

.product-box{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 390px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
}

.product-info {
    width: 100%;
    margin-top: 3px;
}

.product-name span {
    padding-top: 200px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    width: 27%;
    background: orange;
    padding-top: 3px;
    height: 28px;
}

.product-name {
    display: flex;
    color: #29292c;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 15px;
    height: 20%;
}

.product-box img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.product-box a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.de-font {
    height: 80px;
    font-size: 14px;
    padding: 10px 10px 1px 10px;
}

.product-box .price {
    padding: 0px 10px ;
    display: flex;
    justify-content: space-between;
}

.lSPager{
    display:none;
}

.lSAction > a {
    background-color:#00000033;
    width:50px;
    height:50px;
    border-radius:50%;
    opacity:5;
    background-image:none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lSAction > a::after{
    position:absoult;
    content:'';
    margin:auto;
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}
.lSAction > .lSPrev::after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.lSAction > .lSNext::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}