    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        scroll-behavior: smooth;
        font-family: 'Jost', sans-serif;
        list-style: none;
        text-decoration: none;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .feature-img {
        width: 90%;
        margin-bottom: 10px;
    }
    
    .logo img {
        max-width: 70px;
        height: auto;
    }
    
    .images {
        width: 90%;
    }
    
    product-images .images {
        width: 100%;
    }
    
    .product-images {
        width: 1%;
    }
    
    .head-container {
        max-width: 1300px;
        margin: 0 auto;
    }
    
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
    
    .header {
        background-color: whitesmoke;
        width: 100%;
        z-index: 1000;
        top: 0;
    }
    
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav-bar {
        display: flex;
    }
    
    .nav-bar a {
        font-size: 19px;
        padding: 10px 20px;
        font-weight: 400px;
        transition: all .42s ease;
        color: #2c2c2c;
    }
    
    .nav-bar a:hover {
        color: orange;
    }
    
    .nav-icon i {
        margin-right: 20px;
        font-weight: 400;
        font-size: 23px;
        transition: all .42s ease;
        color: #2c2c2c;
    }
    
    .nav-icon i:hover {
        transform: scale(1.1);
        color: red;
    }
    
    .border-top {
        background-color: red;
        height: auto;
    }
    
    .box-menu {
        position: relative;
        z-index: 10;
        width: 219px;
        height: auto;
        padding: 0.75em 1em;
        background-color: green;
        border-radius: 20px, 20px, 0 0;
    }
    
    .main-text {
        justify-content: space-between;
    }
    
    .main-text i {
        margin-left: 20px;
    }
    
    .bx-chevron-right {
        margin-left: 100px;
        justify-content: right;
    }
    
    .cover {
        display: flex;
        width: 100%;
    }
    
    .menu-link {
        background-color: aliceblue;
        padding-left: 1em;
        width: 219px;
        justify-content: space-between;
        position: absolute;
    }
    
    .none {
        display: none;
    }
    
    .menu-link span {
        padding-left: 50px;
        width: auto;
        margin: 0 auto;
    }
    
    .menu-link a {
        display: flex;
        width: 200px;
        text-align: center;
    }
    
    .menu-link li {
        align-items: center;
        display: flex;
        width: 219px;
        height: 75px;
        border-bottom: 2px solid #0a0505;
        position: relative;
        right: 16px;
        padding-left: 16px;
    }
    
    .feature {
        width: 100%;
    }
    
    .ft-cover {
        width: 76%;
        display: flex;
        justify-content: space-between;
        margin-left: 195px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .ft-box {
        width: 80%;
        text-align: center;
        padding: 20px 10px;
        border: 1px solid #cce7d0;
        border-radius: 5%;
        width: 150px;
    }
    
    .ft-box h5 {
        display: inline-block;
        padding: 9px 8px 6px 8px;
        line-height: 1;
        border-radius: 4px;
        color: #088178;
        background-color: #fddde4;
    }
    
    .ft-box:nth-child(2) h5 {
        background-color: #cdebbc;
    }
    
    .ft-box:nth-child(3) h5 {
        background-color: #d1e8f2;
    }
    
    .ft-box:nth-child(4) h5 {
        background-color: #cdd4f8;
    }
    
    .ft-box:nth-child(5) h5 {
        background-color: #fff2e5;
    }
    
    img {
        max-width: 60%;
    }

    #frmsanphamchitiet {
        display: flex;
    }
    
    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    @media screen and (max-width: 996px) {
        .preview {
            margin-bottom: 20px;
        }
    }
    
    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-height: 200%;
    }
    
    .preview-thumbnail.nav-tabs {
        border: none;
        margin-top: 15px;
    }
    
    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%;
    }
    
    .preview-thumbnail.nav-tabs li img {
        max-width: 50%;
        display: block;
    }
    
    .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0;
    }
    
    .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0;
    }
    
    .tab-content {
        overflow: hidden;
    }
    
    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
    }
    
    .card {
        background: #eee;
        padding: 3em;
        line-height: 1.5em;
    }
    
    @media screen and (min-width: 997px) {
        .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
    }
    
    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .colors {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    
    .product-title,
    .price,
    .sizes,
    .colors {
        text-transform: UPPERCASE;
        font-weight: bold;
    }
    
    .checked,
    .price span {
        color: #ff9f1a;
    }
    
    .product-title,
    .rating,
    .product-description,
    .price,
    .vote,
    .sizes {
        margin-bottom: 15px;
    }
    
    .product-title {
        margin-top: 0;
    }


    .add-to-cart,
    .like {
        width: 30%;
        height: 10%;
        background-color: red;
        padding: 1.2em 1.5em;
        border: none;   
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #fff;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
    }
    
    .add-to-cart:hover,
    .like:hover {
        background: #b36800;
        color: #fff;
    }
    
    .not-available {
        text-align: center;
        line-height: 2em;
    }
    
    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff;
    }
    
    .tooltip-inner {
        padding: 1.3em;
    }
    
    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    
    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }